.product-description-img{
    height: 550px;
    width: 100%;
    max-width: 400px;
}

.green{
    color:green;
}

.gray{
    color:grey;
}

.buttons{
    display: flex;
    justify-content: center;
}

